*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}




#adestyle{
    background-color:#fff;
    border-radius:30px;
    width:auto;
}


.active{

}

.head-nav{
    color:#fff;
}

.navbar-nav .nav-item{
    font-size:20px;
    margin:3px 15px;
    text-align:center;
}

.nav-item{
    color:blue;
    font-weight:800;
}

.nav-link{
    color:#fff;
    background-color:#198754;
    border-radius:30px;
    font-family:cursive;
}

.nav-link:hover{
    color:green;
    background-color:#fff;
    
}

.navbar-toggle-icon{
    background-color:#fff;
}
/** Home Design**/
.intro h1{
    font-size:70px;
    color:green;
    font-weight:700;
}

#about h1{
    font-weight:500;
    font-size:50px;
}

.about-us p{
	/*font-size: 0.9375em;*/
	line-height: 1.625em;
	padding: 15px 0;
}
.about-us .about-us-list{
	list-style: none;
	margin-bottom: 20px;
	padding-left:0px;
}

